@font-face {
  font-family: tf2secondary;
  src: url(font/tf2secondary.ttf);
}

* {
  font-family: tf2secondary;
}

body {
  background-color: #EEEEEE;
}

.h1 {
    font-size: 192;
}

.container1left {
    text-align: left;
}

.container1center {
    text-align: center;
}

.container2 {
	width: 750px;
    margin: 0 auto;
}