@font-face {
  font-family: tf2secondary;
  src: url(font/tf2secondary.ttf);
}

* {
  font-family: tf2secondary;
}

body {
  background-color: #EEEEEE;
}

.h1 {
    font-size: 192;
}

.container1left {
    text-align: left;
}

.container1center {
    text-align: center;
}

.container2 {
	width: 750px;
    margin: 0 auto;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #50A1FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #50A1FF;
  cursor: pointer;
}

.wheel {
    width: 434px;
    height: 434px;
	-webkit-animation:spin 20s linear infinite;
	-moz-animation:spin 20s linear infinite;
	animation:spin 20s linear infinite;
	-webkit-animation-play-state: paused;
	z-index:1;
    position:relative;
}

.arrow {
	display: inline;
	z-index:8;
    position:relative;
	max-width: 60%;
    height: auto;
	top:-154px;
	opacity:64;
}

.buttons {
	z-index:7;
	position:relative;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.bottom {
	position: absolute;
	bottom: 0;
	padding: 15px 0;
}
