@font-face {
  font-family: tf2secondary;
  src: url(font/tf2secondary.ttf);
}

* {
  font-family: tf2secondary;
}

body {
  background-color: #EEEEEE;
}

.h1 {
    font-size: 192;
}

.container1left {
    text-align: left;
}

.container1center {
    text-align: center;
}

.container2 {
	width: 750px;
    margin: 0 auto;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #50A1FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #50A1FF;
  cursor: pointer;
}